.App {
  text-align: center;
}

.buttons {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #4166f5;
  color: rgba(255, 255, 255, 0.877);
  cursor: pointer;
}

.search {
  margin-top: 30px;
}

.search-bar {
  padding: 10px 100px;
  font-size: 20px;
  text-align: center;
}

.example-search {
  font-size: 15px;
  color: #00c5bf;
}

.search-submit {
  padding: 19px;
  margin-left: 15px;
}

.data-display {
  margin-top: 30px;
}

.city-name {
  font-size: 40px;
}

.chart {
  display: inline-block;
  margin: 0 auto;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 20px;
}